/* Soluzione qui */

/*Modalità Tablet (sopra i 768px)*/

@media only screen and (min-width: 768px) {

    main {
        padding: 40px;
    }

    #topbar {
        display: block;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 2rem;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        flex-basis: calc(100% / 3);
    }

    .btn {
        padding: 10px 50px;
    }

    .ads {
        display: block;
    }

    .clearfix img {
        margin-right: 10px;
        float: left;
    }

    .fas {
        display: inline;
    }
}

/*Modalità Desktop(sopra i 992px)
aggiustare la dimensione del video
aggiustare logo allineato scritta bottone*/


@media only screen and (min-width: 992px) {

    .recipe-name {
        font-size: 2.5rem;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-basis: 70%;
    }

    .recipe-info {
        flex-basis: 30%;
    }

    .btn {
        padding: 10px 35px;
        display: flex;
        align-items: center;
    }

    .social-networks .label {
        display: block;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer address  {
        text-align: left;
    }
}